.seq-step-button {
  background-color: rgb(165, 165, 165);
  width: 30px;
  height: 30px;
  border: solid 2px rgb(237, 237, 237);
}

.seq-step-button.seq-step-active {
  background-color: rgb(116, 222, 116);
  box-shadow: 0px 0px 10px 2px rgb(116, 222, 116);

}

.seq-step-button.seq-current-step {
  border: solid 2px rgb(97, 213, 255);
}

.seq-step-button.seq-selected-step {
  border: solid 2px rgb(237, 97, 255);
}

.seq-step-button.seq-current-step.seq-selected-step {
  border: solid 2px rgb(254, 189, 78);
}
